<app-nav [main]="true"></app-nav>
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="jumbotron mt-5">
                <h1 class="display-3">Welcome To College Social Network</h1>
                <hr class="my-2">
                <p class="lead">where we connect to each other</p>
            </div>
        </div>
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <app-login></app-login>
        </div>
    </div>
</div>